<app-create-content (newBookEvent)="addBookToList($event)"></app-create-content>
<mat-form-field class="check-book-exists-input">
  <mat-label>Book Title</mat-label>
  <input matInput [matAutocomplete]="auto" #cardTitle>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let content of contents" [value]="content.title">
      {{content.title}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field><br />
<button mat-raised-button color="accent" (click)="submitInput(cardTitle.value)">Check if the book exists</button>

<app-content-card class="contents contents-fantasy" *ngFor="let individualContent of contents" [content]="individualContent"></app-content-card>

<!--
 <app-content-card class="contents contents-fantasy" *ngFor="let individualContent of (contents | contentType: 'Fantasy')" [content]="individualContent"></app-content-card>
<app-content-card class="contents contents-adventure" *ngFor="let individualContent of (contents | contentType: 'Adventure')" [content]="individualContent"></app-content-card>
<app-content-card class="contents contents-horror" *ngFor="let individualContent of (contents | contentType: 'Horror')" [content]="individualContent"></app-content-card>
-->
