<div innerHTML="{{contentList.outputItemInfo(2)}}"></div>

<h2>Number of items: {{contentList.numberOfItems()}}</h2>

<h3>Item 1:</h3>
<p>id: {{contentList.contents[0].id}}</p>
<p>Author: {{contentList.contents[0].author}}</p>
<p>Title: {{contentList.contents[0].title}}</p>
<p>Body: {{contentList.contents[0].body}}</p>

<h3>Item 2:</h3>
<p>id: {{contentList.contents[1].id}}</p>
<p>Author: {{contentList.contents[1].author}}</p>
<p>Title: {{contentList.contents[1].title}}</p>
<p>Body: {{contentList.contents[1].body}}</p>

<h3>Item 3:</h3>
<p>id: {{contentList.contents[2].id}}</p>
<p>Author: {{contentList.contents[2].author}}</p>
<p>Title: {{contentList.contents[2].title}}</p>
<p>Body: {{contentList.contents[2].body}}</p>


